$comment-font-family: var(--sn-stylekit-monospace-font) !important;

body, html {
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-base-font-size);
  height: 100%;
  margin: 0;
  background-color: transparent;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow: hidden;
  // padding-right: 20px;
}

.CodeMirror-scroll {
  padding: 8px;
}

.CodeMirror {
  background-color: var(--sn-stylekit-editor-background-color) !important;
  color: var(--sn-stylekit-editor-foreground-color) !important;
  border: 0 !important;
  font-family: var(--sn-stylekit-sans-serif-font);

  -webkit-overflow-scrolling: touch;

  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: var(--sn-stylekit-font-size-editor);
  padding: 0;

  .cm-comment {
    background: var(--sn-stylekit-contrast-background-color);
    color: var(--sn-stylekit-info-color);
    font-family: $comment-font-family;
    font-size: 95%; // font-family makes font look a bit big

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: var(--sn-stylekit-info-color) !important;
    }
  }

  .cm-link {
    color: var(--sn-stylekit-info-color) !important;

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: var(--sn-stylekit-info-color) !important;
    }
  }

  .CodeMirror-linenumber {
    color: gray !important;
  }
}

.CodeMirror-cursor {
  border-color: var(--sn-stylekit-editor-foreground-color);
}

.CodeMirror-selected {
  background: var(--sn-stylekit-info-color) !important;
}

.CodeMirror-selectedtext {
  color: var(--sn-stylekit-info-contrast-color) !important;
  background: var(--sn-stylekit-info-color) !important;
}

.CodeMirror-gutters {
  background-color: var(--sn-stylekit-background-color) !important;
  color: var(--sn-stylekit-editor-foreground-color) !important;
  border-color: var(--sn-stylekit-border-color) !important;
}


@mixin make-cm-header($number, $font-size) {
  .cm-header-#{$number} {
    font-weight: bold;
    font-size: $font-size;
  }

  .cm-formatting-header-#{$number} {
    opacity: 0.3;
    font-size: 90%;
    &::after {
      content: '';
      font-size: ($font-size / 0.9);
    }
  }
}

@include make-cm-header(1, 135%);
@include make-cm-header(2, 120%);
@include make-cm-header(3, 100%);
@include make-cm-header(4, 100%);

.CodeMirror .blank-line {
  line-height: 0.4em !important;
}

.CodeMirror {
  font-size: 16px;
}

.CodeMirror pre.CodeMirror-line {
  padding: 2px 0;
  line-height: 1.2;
}

.CodeMirror pre.comment-block-line {
  padding: 0;
  line-height: normal;
  font-family: $comment-font-family;
}

.cm-leadingspace {
  font-family: var(--sn-stylekit-monospace-font) !important;
  // that smaller line-height avoids the font-change moving text that is after up and down when it is applied/removed.
  line-height: 0.1;
}

.cm-tab {
  // Need those to keep the wrapping system, which use text-indent, from inheriting to the tabs and making them 0 width
  text-indent: 0;
  padding: 0;
}

.cm-line-is-wrapped {
  max-width: 50em;
}

.cm-line-is-wrapped.comment-block-line {
  max-width: initial;
}
